{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/sickness.css">{% endblock %}

{% block content %}
    <div class="container-lg container-md container-sm content-main">
        <div class="row mx-1 d-flex flex-row justify-content-center">

            <div class="content-map">
                <div class="title-map">
                    <h1>Gestion de la "Peste Noire"</h1>
                </div>
                <div class="map">
                    <img class="" src="/assets/images/map.jpg">
                </div>

            </div>

            <div class="content-card overflow-auto country">
            {% for data in datas %}
                    <div class="card {{ data.country }} border w-50 mx-auto">
                        <div class="backgound-blason">
                            <img class="icon" src="/assets/images/icon.jpg">

                            <img src="/assets/images/manuscrit.jpg">
                        </div>
                        <h2>{{ data.country }}</h2>
                        <ul class="data">
                            <li>Capital: {{ data.capital_city }}</li>
                            <li>Nombre confirmé: {{ data.confirmed }}</li>
                            <li>Nombre de rétablis: {{ data.recovered }}</li>
                            <li>Nombre de morts: {{ data.deaths }}</li>
                        </ul>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}