{% extends 'layout.html.twig' %}


{% block title %}Conseils pour lutter contre la peste{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/advice.css">
{% endblock %}
{% block content %}

    <div class="container">
    <ul class="alert alert-danger">
        {%- for error in errors -%}
            <li>{{ error }}</li>
        {%- endfor -%}
    </ul>
    <h1>Plague advice</h1>
    <div class="confinement">
        <h2>Apply barrier gestures and containment</h2>
        <p>Barrier gestures are a good practice designed to limit the spread
            of a pathogenic agent, particularly in a pandemic situation.</p>
        <ul>
            <li>Regularly wash hands and feet or even everything else, to avoid odours and contamination.
            </li>
            <li>Coughing or sneezing in your mask the beak has been thought with a large reservoir or a handkerchief.
            </li>
            <li>Wear a beak correctly when the distance cannot be kept and in places where it is mandatory.
            </li>
            <li>Maintain a distance of at least one metre point fifty-six centimetres and eighty-five millimetres from the others
            </li>
            <li>Using digital tools (Stop-Peste)</li>
        </ul>
        <p>The ban on movement in France, popularised by street criers as "confinement of the population" or "national confinement",
            is a health measure implemented for the first time from 17 March at 12 noon to 11 May 1347 (55 days, i.e. 1 month and 25 days),
            and a second time from 30 October 1347, as part of a set of policies restricting contact with the plebeians and travel in response to the
            plague pandemic47 in France. After a health campaign recommending hygienic "barrier gestures" and physical distancing, the decision for a first confinement
            at the national level was announced on the evening of Monday 16 March 1347 by King Philippe de Vallois, Philou for his closest friends, during a meeting
            with the nation. He indicated on several occasions that France was in a "sanitary war" against the Plague47 ,
            while the country, at "stage 3" of governmental sanitary measures, was in the midst of a rapidly expanding epidemic.</p>
    </div>
    <div class="authorise">
        <h2>When am I allowed to go out?</h2>
        <ul>
            <li>Moving, to milk the neighbour's goat</li>
            <li>Moving, to harvest the fields</li>
            <li>Moving, for assistance to the neighbour's wife who is always alone at home</li>
            <li>To see the complete list look at the form/20</li>
        </ul>
        <p>Do you have to go out for one of these reasons?</p>
        <h2> Complete the form</h2>
        <form action="" method="post">
            <div class="form-group">
                <label for="lastname">Lastame</label>
                <input class="form-control" type="text" name="lastname" id="lastname" placeholder="De Vallou"
                       value="{{ persons.lastname ?? '' }}">
            </div>
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input class="form-control" type="text" name="firstname" id="firstname" placeholder="Phillou"
                       value="{{ persons.firstname ?? '' }}">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input class="form-control" type="text" name="country" id="country" placeholder="Chambord"
                       value="{{ persons.country ?? '' }}">
            </div>
            <div class="form-group">
                <label for="birthday">Date</label>
                <input class="form-control" type="date" name="date" id="date"
                       value="{{ persons.birthday ?? '' }}">
            </div>
            <div class="form-group">
                <label for="address">Adress</label>
                <input class="form-control" type="text" name="address" id="address" placeholder="1347 rue de la peste 45000 Paris"
                       value="{{ persons.address ?? '' }}">
            </div>
            <div class="form-group">
                <label for="choice">Exit patter: </label>
                <select name="choice" id="choice">
                    <option value="">--Options--</option>
                    <option value="Travelling between the neighbour's home and his own.">
                        Travel between the neighbour's home and his home.
                    </option>
                    <option value="Travelling to harvest the fields (Didier deschamps)">
                        Travelling to carry out the harvests in the fields (Didier deschamps)
                    </option>
                    <option value="Consultations, examinations and care cannot be provided at a distance.">
                        Consultations, examinations and care that cannot be provided at a distance
                    </option>
                    <option value="Travelling to treat the neighbour's goat or cow.">
                        Travelling to treat the neighbour's goat or cow
                    </option>
                    <option value="Movement of people with disabilities and their carers.">
                        Movement of people with disabilities and their carers.
                    </option>
                    <option value="Short journeys, within a daily limit of twenty seconds and within a maximum
                    radius of thirty centimetres around the town, related either to the collective physical
                    activity of the persons, excluding any practice other than sports and any proximity with
                    other persons, or to walking with only the persons grouped
                    together in the same home or neighbourhood, or to the needs of pets.">
                        Short journeys
                    </option>
                    <option value="Participation in missions of general interest at the request of the royal authority.">
                        Participation in missions of general interest at the request of the royal authority
                    </option>
                    <option value="Travel to pick up the kids at school and during their community service activities.">
                        Going to pick up the kids
                    </option>
                </select>
            </div>
            <div class="col text-center">
            <button class="submit-button">Generate certificate</button>
            </div>
        </form>


        <p>Download it
            <a href="/Form/attestation.pdf" target="_blank" download="attestation.pdf" title="attestation">
                here</a></p>
    </div>
    <div class="track-down">
        <h2>Testing for Plague-47</h2>
        <p> Virological tests (RT-PCR) are used to determine whether a person is carrying the virus at the time of testing, using nasal or saliva samples.
            The result is usually available within 24 hours.
        </p>
    </div>
{% endblock %}