{% extends 'layout.html.twig'%}

{% block title %}Form{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}
{% block content %}
    <div class="container">

        <h1>DECREE OF DEROGATORY DISPLACEMENT</h1>

        <p>In application of decree n°1347-01 of 29 October 1347 prescribing the general measures necessary to make
            in the face of the Plague epidemic in the context of the Plebian Health Emergency Kingdom</p>
        <br>
        <h2>I undersigned, Mrs/Mr. :</h2>
            <p>{{ persons.lastname }}  {{ persons.firstname }} </p>
        <h2>the :</h2><p>{{ persons.date }}</p>
        <h2>in :</h2>
        <p>{{ persons.country }}</p>
        <h2>Resident :</h2>
        <p>{{ persons.address }}</p>
        <h2>certifies that my movement is related to the reason:</h2>
        <p>{{ persons.choice }}</p>
        <p>Tampon : </p>
        <button class="submit-button">Print</button>
    </div>
{% endblock %}