{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shop.css">
{% endblock %}

{% block content %}
    <section class="section-choice">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card-selection col-11 col-md-3">
                    <p>Vous avez sélectionner</p>
                    <img class="card-img-top" src="/uploads/{{ item.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text"></p>
                        <ul>
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card-selection col-11 col-md-3">
                    <form action="/shop/validate/{{ item.id }}" method="post">
                        <label for="lastname">Nom : </label>
                        <input type="text" name="lastname" id="lastname">
                        <label for="firstname">Nom : </label>
                        <input type="text" name="firstname" id="firstname">
                        <p>adresse</p>
                        <label for="street">rue / chemin ; </label>
                        <input type="text" name="street" id="street">
                        <label for="city">Ville / Château : </label>
                        <input type="text" name="city" id="city">
                        <button class="btn btn-primary">Valider</button>
                        <a href="/shop/shop/{{ item.id }}" class="btn btn-primary">Revenir</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}